<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">
            All articles belong to <a href="https://www.saveur.com/" target="_blank" class="white-text">Saveur</a>
        </div>
    </div>
</footer>