<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<link href="https://fonts.googleapis.com/css?family=Calligraffitti&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Linden+Hill:400i&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">

		<title>news-crepe</title>
	</head>
	<body>
        {{> nav }}

		{{{ body }}}

        {{> footer }}
		
		<!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="app.js"></script>
	</body>
</html>