<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link rel="stylesheet" href="/style.css">

		<title>news-crepe</title>
	</head>
	<body>
        <nav>
            <div class="nav-wrapper">
                <a href="" class="right brand-logo">news-crepe</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved</a></li>
                    <li><a href="/scrape" class="btn scrape" id="scrape">S'crepe!</a></li>
                    <li><a class="btn clear" id="clear">Clear All</a></li>
                </ul>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved</a></li>
            <li><a href="/scrape" class="btn scrape" id="scrape">S'crepe!</a></li>
            <li><a class="btn clear" id="clear">Clear All</a></li>
        </ul>

		{{{ body }}}
		
		<!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="app.js"></script>
	</body>
</html>