.article-div {
    padding: 50px;
}

#headline {
    padding: 30px;
    margin-top: 20px;
    background-color: #cd342e;
    color: #E4E4E4;
    font-family: 'Calligraffitti', cursive;
}

.article-container {
    margin: 30px;
}

.remove {
    margin-right: 10px;
}

#save-note {
    margin-right: 10px;
    background-color: #1b2a41;
    font-family: 'Linden Hill', serif;
}

.input-field {
    margin: 30px 20px;
}

.modal-header {
    border-bottom: 2px solid #cd342e;
}

body {
    background-color: #e7dac2;
}

.nav-wrapper {
    background-color: #D0B172;
}

.nav-link {
    font-size: 18px;
    font-family: 'Lora', serif;
    color: #263238;
}

#home {
    margin-left: 10px;
}

.sidenav {
    background-color: #e7dac2;
}

.side-link {
    background-color: #D0B172;
    border-bottom: 2px groove #e7dac2;
    color: #1b2a41;
    font-family: 'Lora', serif;
}

.brand-logo {
    font-family: 'Calligraffitti', cursive;
    margin-right: 15px;
}

.btn {
    background-color: #1b2a41;
    font-family: 'Linden Hill', serif;
}

.btn:hover {
    background-color: #1b2a41;
    opacity: 0.8;
}

.page-footer {
    background-color: rgb(187, 159, 103);
    font-family: 'Calligraffitti', cursive;
}

.footer {
    padding: 10px;
    background-color: #263238;
}

.card-content {
    border-top: solid 1px #cd342e;
    font-family: 'Lora', serif;
}

.article-title {
    font-family: 'Linden Hill', serif;
    color: #263238;
}

.modal-head {
    color: #263238;
    font-family: 'Linden Hill', serif;
}