.article-div {
    padding: 50px;
}

#headline {
    padding: 30px;
    margin-top: 20px;
}

.article-container {
    margin: 30px;
}

.remove {
    margin-right: 10px;
}

#save-note {
    margin-right: 10px;
}

.input-field {
    margin: 30px 20px;
}

.modal-header {
    border-bottom: 2px solid gray;
}